# ---------- Build artifacts ----------
*.o
*.out
*.a
*.so
*.dylib
*.exe
tree
a.out

# ---------- Make / build ----------
build/
dist/

# ---------- Debug symbols ----------
*.dSYM/

# ---------- macOS junk ----------
.DS_Store

# ---------- Vim ----------
*.swp
*.swo
*~

# ---------- VS Code ----------
.vscode/

# ---------- JetBrains ----------
.idea/

# ---------- Logs ----------
*.log

